{
  "parser": "babel-eslint",
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "max-nested-callbacks": ["warn", 3]
  }
}
