{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "extends": ["prettier", "eslint:recommended"],
  "plugins": ["prettier", "react"],
  "env": {
    "amd": true,
    "commonjs": true,
    "protractor": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "max-nested-callbacks": ["warn", 3]
  }
}
